html, body {
    height: 110%;
    background: #898989 url("imgs/MAS_Logo2.png") center center no-repeat fixed;
    margin: 0;
    font-size:16px;
!important;
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#main-Div.show, iframe {
    display: block;
    /*background: url("imgs/loading.gif") center center no-repeat;*/
    align-content: center;
    text-align: center;
    margin: 0 auto;
    width: 430px;
    height: 320px;
    border: none;
}

#search-Div.show, #test, #test-all {
    display: block;
    align-content: left;
    text-align: left;
    border: none;
}

h1, h2, p {
    display: block;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    color: #BBE1FA;
    font-weight: bold;
}

button.search, button.clearButton, .result, .result-all {
    display: block;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    color: #1B262C;
    font-weight: bold;
}

#test, #test-all {
    display: block;
    background: #3282B8;
    opacity: 0.8;
    border-radius: 16px;
    width: 700px;
}

p {
    font-size: 20px;
}

h3 {
    color: #BBE1FA;
    margin-left: 10px;
}

#time {
    padding-left: 30px;
    color: #73C2FB;
    font-size: 16px;
}

button.search, button.clearButton {
    text-decoration: none;
    width: 100px;
    height: 28px;
    background: #BBE1FA;
    color: #0F4C75;
    border: solid #BBE1FA 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: none;
    text-shadow: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 2s ease;
    float:left;
    margin: auto 20px;
}

button.search:hover, button.clearButton:hover {
    position: relative;
    top: 1px;
    text-decoration: none;
    -webkit-box-shadow: inset 3px 3px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 3px 3px 10px rgba(0, 0, 0, .3);
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, .3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}

button.search:active {
    background: white;
}

button.clearButton {
    background: gold;
}

button.clearButton:active {
    background: orange;
}

input {
    border-radius: 8px;
    text-align: center;
    width: 200px;
    height: 30px;
    font-size: 20px;
    color: #1B262C;
    position: center;
    line-height: 8px;
    background: #BBE1FA;
    border-color: transparent;
}

#owl-box, #test, #test-all {
    font-size: 24px;
    color: #1B262C;
    font-weight: bold;
}

#searchName {
    width: 400px;
}

#searchYear {
    height: 23px;
    font-size: 18px;
    width: 80px;
}

#searchYearButton, #clearYearButton {
    height: 28px;
    font-size: 18px;
    margin: auto 20px;
    float: left;
}

#animeListButton {
    width: 200px;
    height: 40px;
}

#srcPage, .end {
    color: #BBE1FA;
    display: block;
    position: relative;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 10px;
    text-decoration: none;
    font-weight: normal;
}

#srcPage:link {
    color: #BBE1FA;
}

#srcPage:visited {
    color: #BBE1FA;
}

#srcPage:hover {
    color: white;
}

#srcPage:active {
    color: orange;
}

.index {
    margin: 0 auto;
    width: 100%;
    opacity: 1;
    height: 100%;
}

.main-Template {
    width: 1200px;
    min-height: 95%;
    margin: 0 auto;
    background: #0F4C75;
    opacity: 0.8;
}

.bottom-Template {
    line-height: 70%;
    height: 5%;
    width: 1200px;
    margin: 0 auto;
    background-color:#1B262C;
}

.gradientback{
    bottom:0px;
    left:0px;
    margin: 0 auto;
    width:1200px;
    height:20px;
    background: -moz-linear-gradient(top,  rgba(15, 76, 117, 0.8) 0%, rgba(27, 38, 44, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(15, 76, 117, 0.8)), color-stop(100%,rgba(27, 38, 44, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(15, 76, 117, 0.8) 0%,rgba(27, 38, 44, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(15, 76, 117, 0.8) 0%,rgba(27, 38, 44, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(15, 76, 117, 0.8) 0%,rgba(27, 38, 44, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(15, 76, 117, 0.8) 0%,rgba(27, 38, 44, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.header-Empty {
    height:91px;
    background: #0F4C75;
    width: 1200px;
    opacity: 0.8;
    margin: 0 auto;
}

.util, #top {
    display: block;
    align-content: right;
    align-items: right;
    position: fixed;
    right: 40px;
    bottom: 20px;
    width: 60px;
    height: 60px;
}

.toggle, #hide, #show {
    display: block;
    align-content: right;
    align-items: right;
    position: fixed;
    right: 40px;
    bottom: 80px;
    width: 60px;
    height: 60px;
}

#top {
    display: none;
    cursor: pointer;
}

#hide, #show {
    cursor: pointer;
}

#tab {
    width: 800px;
    height: 30px;
    margin: 0 auto;
}

ul.season {
    margin: 0 auto;
    list-style: none;
    display: block;
    height: 30px;
    border: none;
}

ul.season li.season {
    display: block;
    color: #BBE1FA;
    font-weight: bold;
    background: #0F4C75;
    border-radius: 8px;
    float: left;
    list-style: none;
    height: 29px;
    line-height: 29px;
    padding: 0 10px;
    border: none;
}

li.season.off, li.menu.off {
    cursor: pointer;
}

li.season.on, li.menu.on {
    cursor: pointer;
}

li.menu {
    margin: 0 30px;
}

li.season {
    margin: 0 10px;
}

ul.season li.season.on {
    color: #0F4C75;
    background: #BBE1FA;
    transition: 0.5s;
    border: none;
}

ul.season li.season:hover li.season.on:hover {
    background-position: left center;
    border: none;
}

.hide {
    display: none;
}

.owl-carousel .item {
    border-radius: 6px;
    width: 700px;
    background: #3282B8;
    opacity: 0.8;
    padding: 1rem;
}

div.item, #test{
    word-break: break-all;
}

.version {
    padding: 0 1rem;
    margin: 0;
    color: #BBE1FA;
}

.update-title {
    color: #BBE1FA;
}

.srcResLink {
    text-decoration: none;
}

.srcResLink:link {
    color: #BBE1FA;
}

.srcResLink:visited {
    color: #BBE1FA;
}

.srcResLink:hover {
    color: white;
}

.srcResLink:active {
    color: orange;
}

.header {
    width:100%;
    height: auto;
    position: fixed;
    z-index:100;
    background:#1B262C;
    opacity: 0.9;
    border-top:5px solid #363636;
} 


.header_in {
    width:100%;
    height: auto;
    position:relative;
    z-index:10;
}

.header_center { width:100%; max-width:1280px; min-width:1280px; margin:0 auto; height: auto; position:relative;}
.logo { float:left; overflow:hidden; max-width:100%; max-height:100%;}
#header_pic_nav {float: right;height:78px;width: auto;max-width:79%;position:relative;z-index:1;}
#header_pic_nav  li { display:block; float:left; position:relative; z-index:10;-moz-transition:all 0.8s;-webkit-transition:all 0.8s;-o-transition:all 0.8s;}
#header_pic_nav  li a {float:left;display:block;margin-bottom:1px;padding:20px 15px 10px 15px;width:auto;transition:all 0.8s;-moz-transition:all 0.8s;-webkit-transition:all 0.8s;-o-transition:all 0.8s;}
#header_pic_nav li img{ float:left; display:block;   margin-top:5px;}
#header_pic_nav li span{ display:block; float:left; margin-left:5px; padding-top:10px;}

#header_pic_nav li div, #header_pic_nav li p {
    display:block;
    width:100%;
}

#header_pic_nav li div {
    font-size:14px;
    color:#BBE1FA;
    font-weight:normal;
    line-height:17px;
    text-align:left;
}

#header_pic_nav li p {
    font-size:8px;
    color:#BBE1FA;
    text-transform:uppercase;
    text-align:left;
}

a:link {
    color: #BBE1FA;
}

a:visited {
    color: #BBE1FA;
}

a:hover {
    color: #BBE1FA;
}

a:active {
    color: orange;
}

a {
    text-decoration:none;
}

.container {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
}

.index-slogan {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
}

table {
  width: 600px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: center;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
/*tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}*/ /*Column hover style, not necessary for simple design.*/

.wall {
    height:50px;
    width:auto;
}

div.wall{
    padding-left: 10px;
}
